.__PARENT_SLUG__-wrap {
    font-size: 16px;
    max-width: 900px;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group .group {
    position: relative;
}

ul.__PARENT_SLUG__-admin-nested-fields > ul.__PARENT_SLUG__-admin-nested-fields > ul.__PARENT_SLUG__-admin-nested-fields {
    display: none;
}

ul.__PARENT_SLUG__-admin-nested-fields {
    font-size: 0.90em;
}

ul.__PARENT_SLUG__-admin-nested-fields ul.__PARENT_SLUG__-admin-nested-fields {
    padding: 10px 0 10px 10px;
}

ul.__PARENT_SLUG__-admin-nested-fields ul.__PARENT_SLUG__-admin-nested-fields {
    border-left: solid 1px #dedede;
    border-bottom: solid 1px #dedede
}

ul.__PARENT_SLUG__-admin-nested-fields .group button {
    margin: 0;
}

ul.__PARENT_SLUG__-admin-nested-fields .label {
    color: #007cba;
    font-weight: normal;
    margin-bottom: 3px;
}

ul.__PARENT_SLUG__-admin-nested-fields .description:before {
    content: "\1F6C8";
    font-size: 16px;
    color: #007cba;
    vertical-align: bottom;
    margin-right: 5px;
}

ul.__PARENT_SLUG__-admin-nested-fields .description {
    color: #8c8c8c;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

ul.__PARENT_SLUG__-admin-nested-fields > .label {
    background: #c4c4c4;
    padding: 8px;
    color: #23282d;
    border-bottom: solid 1px #ddd;
    margin: 0;
    cursor: pointer;
}

ul.__PARENT_SLUG__-admin-nested-fields > li:not(:last-child) .section {
    border-bottom: solid 1px #e4e4e4;
    padding-bottom: 10px;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group {
    break-inside: avoid-column;
    margin-bottom: 7px;
    position: relative;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group > * {
    vertical-align: top;
    margin-bottom: 3px;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group .group > .full {
    width: 100%;
    max-width: 100%;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group > .key {
    background: #ffffff;
    padding: 3px;
    border: solid 2px #0073aa;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group .group .buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3px;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group.minimised > :not(.buttons):not(:nth-child(2)) {
    display: none;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group.minimised > .buttons button {
    background: #000;
    height: 35px;
    width: 35px;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group.minimised {
    padding: 0 120px 0 0;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group .group button.item-button {
    height: 17px;
    width: 20px;
    margin-left: 2px;
    top: 4px;
    right: 3px;
    cursor: pointer;
    font-size: 8px;
    background: #7b00003b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bolder;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group .group button.item-button:hover {
    background: #007cba;
    opacity: 1;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group {
    padding: 0 1em;
    display: grid;
    grid-column-gap: 0.5em;
}

ul.__PARENT_SLUG__-admin-nested-fields .section .group.clone {
    background: #e5f6ff;
}

ul.__PARENT_SLUG__-admin-nested-fields .section .group.cloned {
    background: #fff9e9;
}

ul.__PARENT_SLUG__-admin-nested-fields .section > .group > .group > * > * {
    margin-top: 1px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    ul.__PARENT_SLUG__-admin-nested-fields .section > .group {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    ul.__PARENT_SLUG__-admin-nested-fields .section > .group {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    ul.__PARENT_SLUG__-admin-nested-fields .section > .group {
        grid-template-columns: repeat(4, 1fr);
    }
}
