.wp-lib-option-wrap [col] {
    display: grid;
}

.wp-lib-option-wrap [col='5'] {
    grid-template-columns: repeat(5, 1fr) !important;
}

.wp-lib-option-wrap [col='4'] {
    grid-template-columns: repeat(4, 1fr) !important;
}

.wp-lib-option-wrap [col='3'] {
    grid-template-columns: repeat(3, 1fr) !important;
}

.wp-lib-option-wrap [col='2'] {
    grid-template-columns: repeat(2, 1fr) !important;
}

.wp-lib-option-wrap [col='1'] {
    grid-template-columns: repeat(1, 1fr) !important;
}

.wp-lib-option-wrap .hidden {
    display: none !important;
}

.wp-lib-option-wrap {
    font-size: 16px;
    max-width: 900px;
}

.wp-lib-option-wrap > form {
    margin-top: 20px;
}

.wp-lib-option-wrap .branding {
    text-align: right;
}

.wp-lib-option-wrap > form .form-head {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: right;
}

body.admin-bar .wp-lib-option-wrap > form .form-head {
    top: 32px;
    padding: 2px 0 10px;
}

.wp-lib-option-wrap > form > .form-head > .form-status {
    box-sizing: border-box;
    padding: 0;
}

.wp-lib-option-wrap > form > .form-head > .form-actions > * {
    margin-left: 10px;
}

.wp-lib-option-wrap > form > .form-head > .form-status > span {
}

.wp-lib-option-wrap > form > .form-head > .form-status > button {
    min-width: 150px;
    font-weight: bold;
}

.wp-lib-option-wrap > form > .form-head > .form-status > button > .saved {
    color: #00a200;
}

.wp-lib-option-wrap > form > .form-head > .form-status > button > .saving {
    color: #007cba;
}

.wp-lib-option-wrap > form .form-head > .form-status > button > .unsaved {
    color: #dc3232;
}

.wp-lib-option-wrap > form > .form-head > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.wp-lib-option-wrap .select2-container {
    width: 100% !important;
}

.wp-lib-option-wrap .select2-search--dropdown .select2-search__field {
    width: 98%;
}

.wp-lib-option-nested-fields .section > .group .group {
    position: relative;
}

.wp-lib-option-nested-fields > div {

}

.wp-lib-option-nested-fields > .wp-lib-option-nested-fields {
    display: none;
}

.wp-lib-option-nested-fields {
    background: #00000008;
    font-size: 0.95em;
    margin-top: 0;
}

.wp-lib-option-nested-fields .group > .group {
    transition: ease all 0.1s;
}

.wp-lib-option-nested-fields .group > .group:hover {
    background: #0000000a
}

.wp-lib-option-nested-fields > div > .section {
}

.wp-lib-option-nested-fields .section > .main.group {
    margin-bottom:15px
}

.wp-lib-option-nested-fields > .label {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.wp-lib-option-nested-fields > .label.open {
    background: #23282d;
    color: #fff;
    font-weight: bolder;
}

body.admin-bar .wp-lib-option-nested-fields > .label.open {
    top: 32px;
}

.wp-lib-option-nested-fields > .wp-lib-option-nested-fields.open {
    display: block;
}

.wp-lib-option-nested-fields > .label:after {
    content: "\00FF0B";
    font-weight: bolder;
    font-size: 15px;
    float: right;
    color: #007cba
}

.wp-lib-option-nested-fields > .open.label:after {
    content: "\002212";
    color: #fff
}

.wp-lib-option-nested-fields .wp-lib-option-nested-fields {
    padding: 10px 0 10px 10px;
    margin: 0 0 0px 0;
    border-left: solid 1px #dedede;
    /*border-bottom: solid 1px #dedede*/
}

.wp-lib-option-nested-fields > .wp-lib-option-nested-fields.include-section {
    display: block;
    padding: 0;
    background: unset;
}

.wp-lib-option-nested-fields .group button {
    margin: 0;
}

.wp-lib-option-nested-fields .label {
    color: #007cba;
    font-weight: normal;
    cursor: default;
    margin-bottom: 3px;
}

.wp-lib-option-nested-fields .description:before {
    content: "\1F6C8";
    font-size: 16px;
    color: #007cba;
    vertical-align: bottom;
    margin-right: 5px;
}

.wp-lib-option-nested-fields .description {
    color: #8c8c8c;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.wp-lib-option-nested-fields > .label {
    background: #ffffff;
    padding: 8px;
    color: #23282d;
    border-bottom: solid 1px #ddd;
    box-shadow: 0 0 3px #c7c7c7;
    margin: 0;
    cursor: pointer;
}

.wp-lib-option-nested-fields > div:not(:last-child) .section {

}

.wp-lib-option-nested-fields .section > .group > .group {
    break-inside: avoid-column;
    margin-bottom: 35px;
    position: relative;
}

.wp-lib-option-nested-fields .section > .group > .group > * {
    vertical-align: top;
    margin-bottom: 3px;
}

.wp-lib-option-nested-fields .section > .group .group > .full {
    width: 100%;
    max-width: 100%;
}

.wp-lib-option-nested-fields .section > .group > .group > .key {
    background: #ffffff;
    padding: 3px;
    border: solid 2px #0073aa;
}

.wp-lib-option-nested-fields .section > .group .group .buttons button {
    vertical-align: top;
}

.wp-lib-option-nested-fields .section .group > .buttons button.minimise:before {
    content: "―";
    color: #fff;
}

.wp-lib-option-nested-fields .section .group[minimised=true] > .buttons button.minimise:before {
    content: "\20DE";
    color: #fff;
}

.wp-lib-option-nested-fields .section > .group .group .buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3px;
}

.wp-lib-option-nested-fields .section > .group > .group[minimised=true] > :not(.buttons):not(:first-child) {
    display: none;
}

.wp-lib-option-nested-fields .section > .group > .group[minimised=true] > .buttons button {
    background: #005780;
    height: 30px;
    width: 35px;
}

.wp-lib-option-nested-fields .section > .group > .group[minimised=true] {
    padding: 0 120px 0 0;
}

.wp-lib-option-nested-fields .section > .group .group button.item-button {
    height: 17px;
    width: 20px;
    margin-left: 2px;
    top: 4px;
    right: 3px;
    cursor: pointer;
    font-size: 8px;
    background: #7b00003b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bolder;
}

.wp-lib-option-nested-fields .section > .group .group button.item-button:hover {
    background: #007cba;
    opacity: 1;
}

.wp-lib-option-nested-fields .section > .group {
    padding: 0 1em;
    display: grid;
    grid-column-gap: 0.5em;
}

.wp-lib-option-nested-fields .section .group.clone {
    background: #e5f6ff;
}

.wp-lib-option-nested-fields .section .group.cloned {
    background: #fff9e9;
}

.wp-lib-option-nested-fields .section > .group > .group > * > * {
    margin-top: 1px;
}

.wp-lib-option-nested-fields .section > .label {
    padding: 10px;
    margin-bottom: 15px;
}

.wp-lib-option-nested-fields .section > .label {
    padding: 10px;
    background: #ffffff4f;
    margin-bottom: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .wp-lib-option-nested-fields .section > .group {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .wp-lib-option-nested-fields .section > .group {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .wp-lib-option-nested-fields .section > .group {
        grid-template-columns: repeat(4, 1fr);
    }
}